<header>
    <div class="container d-flex justify-content-between">
        <!-- 头部 logo -->
        <a href="/" class="logo">
            <img src="/static/images/logo.png" alt="">
        </a>
        <!-- 中间分类栏 -->
        <ul class="menu d-flex justify-content-between">
            <li data-cid="1"><a href="/?cid=1">基础</a></li>
            <li data-cid="2"><a href="/?cid=2">进阶</a></li>
            <li data-cid="3"><a href="/?cid=3">爬虫</a></li>
            <li data-cid="4"><a href="/?cid=4">数分</a></li>
            <li data-cid="5"><a href="/?cid=5">全栈</a></li>
        </ul>
        <!--登录注册栏-->
        <div class="login-btn">
            <a href="/login" class="login_btn">登录</a> &nbsp;/&nbsp;
            <a href="/register" class="register_btn">注册</a>
        </div>
    </div>
</header>